

<div class="container">
  <h2>User form form</h2>
  <form class="form-horizontal" #userForm="ngForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email"  
        class="form-control" id="email" 
        placeholder="Enter email" ngModel
         name="email" #email="ngModel" required>
        <div class="invalid-feedback" *ngIf="!email.valid && email.touched">
            Please provide a valid email.
          </div>
      </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="subscription">Choose Subscription</label>
        <div class="col-sm-10">  
        <select class="form-control" id="subscription" 
        [ngModel]="selectedSubscription"
        name="subscription" required>
         <option *ngFor="let subscription of subscriptions"
         [value]="subscription">
            {{subscription}}
         </option>
        </select>
        
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" 
          id="pwd" placeholder="Enter password"
           ngModel name="pwd" #pwd="ngModel" required>
          <div class="invalid-feedback" *ngIf="!pwd.valid && pwd.touched">
            Please provide a valid password.
          </div>
        </div>
      </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>

